# Database Configuration (SQLite for local dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# NextAuth Authentication
NEXTAUTH_SECRET="zaltrex-enterprise-super-secret-key-prod-omega-2026"
NEXTAUTH_URL="http://localhost:3000"

# Initial Default Administrator
ADMIN_EMAIL="admin@zaltrex.cloud"
ADMIN_PASSWORD="adminpassword123"

# Resend Email Integration
RESEND_API_KEY=""
ADMIN_NOTIFICATION_EMAIL="admin@zaltrex.cloud"
